<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwkfS7_WkmqB1aZt9cv3Km4BCuRUppizM</string>
	<key>GCM_SENDER_ID</key>
	<string>1052343360319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yusuf.InstaClone2</string>
	<key>PROJECT_ID</key>
	<string>instaclone-6e744</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-6e744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052343360319:ios:115dca31f6bfaabc36118a</string>
</dict>
</plist>